* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

.center {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.user-group {
  width: 200px;
  margin: auto;
  display: flex;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.col-3 {
  width: 33.33%;
  max-width: 33.33%;
  padding-right: 15px;
}

.col-6 {
  width: 50%;
  max-width: 50%;
  padding-right: 15px;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.py-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.box-border {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-wrap {
  border-radius: 5px;
  border: 1px solid #dee2e6;
  overflow: hidden;
}

.table-bordered tr:first-child th {
  border-top-color: transparent;
}

.table-bordered tr:last-child td {
  border-bottom-color: transparent;
}

.table-bordered tr th:last-child,
.table-bordered tr td:last-child {
  border-right-color: transparent;
}

.table-bordered tr th:first-child,
.table-bordered tr td:first-child {
  border-left-color: transparent;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #f9fafb;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 1px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.color-gray {
  color: #a9a9a9;
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

.text-danger {
  color: #dc3545 !important;
}